@model ProductModel


<hr />
<div class="row m-5">
    <h1 class="text-white ">Creating product</h1>
    <div class="col-md-4 text-white">
        <form asp-controller="Product" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control border-2 border-dark mb-lg-3" placeholder="Име на продукта" />
                <span asp-validation-for="Name" class="text-danger mb-lg-3"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control border-2 border-dark mb-lg-3" placeholder="Категория на продукта" />
                <span asp-validation-for="Category" class="text-danger mb-lg-3"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control border-2 border-dark mb-lg-3" placeholder="Съдържание"/>
                <span asp-validation-for="Description" class="text-danger mt-lg-3"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control border-2 border-dark mb-lg-3" placeholder="Цена на продукта" />
                <span asp-validation-for="Price" class="text-danger mt-lg-3"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary mt-lg-4">Create</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}